cocos2d/cocos/2d
cocos2d/cocos/platform/android/java/gen/
cocos2d/cocos/editor-support/spine/proj.win32/Debug.win32/
proj.win32/Debug.win32
proj.win32/FlappyTu.opensdf
proj.win32/FlappyTu.sdf
# cocos2d/cocos/platform/android/java/.d
proj.win32/MyCards.v12.suo
proj.win32/MyCards.VC.VC.opendb
proj.win32/MyCards.VC.db
proj.win32/.vs/
cocos2d/cocos/platform/android/java/.d
proj.android/project.properties
bin
proj.android/bin
proj.android/gen
proj.android/obj
proj.android/libs/armeabi/libcocos2dcpp.so
proj.android/.settings
proj/android/assets
cocos2d/external/Box2D/proj.win32/Debug.win32/
cocos2d/external/bullet/proj.win32/Debug.win32/
cocos2d/external/recast/proj.win32/Debug.win32/
cocos2d/cocos/platform/android/java/libs/facebook/bin
cocos2d/cocos/platform/android/java/libs/facebook/gen
cocos2d/cocos/platform/android/java/libs/facebook/local.properties
proj.ios_mac/MyCards.xcodeproj/project.xcworkspace/xcuserdata/hoangbacphung.xcuserdatad/
proj.ios_mac/MyCards.xcodeproj/xcuserdata/hoangbacphung.xcuserdatad/
cocos2d/build/cocos2d_libs.xcodeproj/xcuserdata/hoangbacphung.xcuserdatad/xcschemes/
cocos2d/cocos/platform/android/java/local.properties
proj.android/local.properties
proj.android/libs/armeabi/gdb.setup
proj.android/libs/armeabi/gdbserver
cocos2d/cocos/platform/android/java/libs/facebook/.DS_Store
cocos2d/cocos/platform/android/java/libs/facebook/project.properties
proj.ios_mac/BigKen.xcodeproj/project.xcworkspace/xcuserdata/Black3rry.xcuserdatad/UserInterfaceState.xcuserstate
proj.ios_mac/BigKen.xcodeproj/project.xcworkspace/xcuserdata/hoangbacphung.xcuserdatad/
proj.ios_mac/BigKen.xcodeproj/xcuserdata/hoangbacphung.xcuserdatad/
proj.ios_mac/Pods/
client/proj.ios_mac/BigKen.xcworkspace/xcuserdata/
